In [12]:
class Student:
  def __init__(self, name, id, gender='Not given', dob='Not given'):
    if len(id)!=8:
      print('Student ID must have 8 digits')
    if ' ' not in name:
      print('Invalid name given')
    self.uniqueKey = name + id
    self.otherInfo = {'gender':gender,'dob':dob}

class Course:
  def __init__(self,a,b,c):
    self.courseName = a
    self.credits = b
    self.thesis = c
    self.studentsInfo = {}
  
  def addStudent(self,studentObj,sem):
    self.studentsInfo[sem,'ID:'+str(studentObj.uniqueKey[10:])] = [studentObj.uniqueKey,studentObj.otherInfo,{self.courseName,self.credits,self.thesis}]

  def showDetails(self):
    print(self.studentsInfo)

s1 = Student('Robin Hood','23789431')
s2 = Student('Robin Hood','23780520','female','12/4/2001')
s3 = Student('Robin Hood','211092101')
s4 = Student('Sadiya','21301191')
CSE9112 = Course('CSE9112',3,False)
CSE9212 = Course('CSE9112',3,False)
PHY9112 = Course('PHY9112',3,False)
CSE9112 = Course('CSE9112',4,True)
CSE9112.addStudent(s2,'Summer2022')
CSE9112.addStudent(s1,'Summer2022')
CSE9112.showDetails()

Student ID must have 8 digits
Invalid name given
{('Summer2022', 'ID:23780520'): ['Robin Hood23780520', {'gender': 'female', 'dob': '12/4/2001'}, {'CSE9112', True, 4}], ('Summer2022', 'ID:23789431'): ['Robin Hood23789431', {'gender': 'Not given', 'dob': 'Not given'}, {'CSE9112', True, 4}]}

In [ ]:
s1 = Student('Robin Hood','23789431')
s2 = Student('Robin Hood','23780520','female','12/4/2001')
s3 = Student('Robin Hood','211092101')
s4 = Student('Sadiya','21301191')
CSE9112 = Course('CSE9112',3,False)
CSE9212 = Course('CSE9112',3,False)
PHY9112 = Course('PHY9112',3,False)
CSE9112 = Course('CSE9112',3,True)
CSE9112.addStudent(s2,'Summer2022')
CSE9112.addStudent(s1,'Summer2022')
CSE9112.showDetails()